data/temp*
data/*.pkl.bz2
data/*.pkl.zip
data/**/*.xlsx
cross_val
grid_search
thresholds/thresholds

poetry.lock


Neuro-symbolic-AI/__pycache__
Neuro-symbolic-AI/LNN/Codes/utils/__pycache__
Neuro-symbolic-AI/LTN/__pycache__
Neuro-symbolic-AI/NSTSC/Codes/__pycache__
Neuro-symbolic-AI/NeurASP/__pycache__
Neuro-symbolic-AI/SLASH/__pycache__

Neuro-symbolic-AI/SLASH/TabNet/__pycache__

Neuro-symbolic-AI/**/*/*.pyc
Neuro-symbolic-AI/**/**/*.pyc
Neuro-symbolic-AI/**/**/**/*.pyc
Neuro-symbolic-AI/*.pyc
