/export_features_2016_2020_v1.parquet.gzip
/export_features_2016_2020_v2.parquet.gzip
/export_band_stats_for_range_of_vginkasso_2016_2020.parquet.gzip
/export_promotor_stats_for_range_of_vginkasso_2016_2020.parquet.gzip
/export_train_band_stats_for_range_of_vginkasso_2016_2020.parquet.gzip
/export_test_band_stats_for_range_of_vginkasso_2016_2020.parquet.gzip
/export_test_vg_state_stats_for_range_of_vginkasso_2016_2020.parquet.gzip
/export_test_promoter_stats_for_range_of_vginkasso_2016_2020.parquet.gzip
